/* You can add global styles to this file, and also import other style files */
:root{
    --color-background :#fce5c6;
    --color-text:#4D97D4 ;
    --liste-pers: #ae8a58;
    --color-text-secondaire: white;
    --color-fieldset-border : #070E77;
}

body{
    background-color: var(--color-background);
    font-family: sans-serif;
}


header img{
    width: 80px;
}

header h1{
    color: var(--color-text);
}

header h1, header img{
    display: inline;
    vertical-align: middle;
}
