/* You can add global styles to this file, and also import other style files */
:root{
    --color-background :#fce5c6;
    --color-text:#4D97D4 ;
}

body{
    background-color: var(--color-background);
    font-family: sans-serif;
}

img{
    width: 48px;
}

h1{
    color: var(--color-text);
}


